@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Activity Simulator</h1>

    <hr />

    <h2 class="display-4">Simulate ur activity now : </h2>
</div>
